<div class="container">
        <div class="section">
    
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">flight</i></h2>
                <h5 class="center">Aircraft Make</h5>
                <br>
                <br>
                <div class="aircraftButton">
                        <select id="dropdown1">
                                <option value="" disabled selected>Choose your make</option>
                              </select>
                              <label>Make/label>
              </div>
    
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">build</i></h2>
                <h5 class="center">Aircraft Model</h5>
                <br>
                <br>
                <div class="aircraftButton">
                        <select id="dropdown2">
                                <option value="" disabled selected>Choose your model</option>
                              </select>
                              <label>Model</label>
                </div>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Aircraft Serial Number #</h5>
    
                <div class="aircraftButton">
                <div class="row">
                  <div class="input-field col s6">
                    <input value="" id="serialNumber" type="text" class="validate">
                    <label class="active" for="serialNumber">Serial Number</label>
                    <a class="waves-effect waves-light btn">Submit</a>
                  </div>
                  </div>
                </div>
                
    
              </div>
            </div>
          </div>
    
        </div>
      </div>
    
    
    
    