<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Welcome!</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>


  <nav>
    <div class="nav-wrapper teal">
      <a href="/members" class="brand-logo">
        <div class="logo"><img src="/assets/img/logo.png" alt="logo" height="100px"></div>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/memberData">Your Planes</a></li>
        <li><a href="/allData">All Planes</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="welcome">
          <p>Welcome <span class="member-name"></span></p>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/assets/img/aero.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <form class="PlaneInput">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flight</i></h2>
            <h5 class="center">Aircraft Make</h5>
            <br>
            <br>
              <div class="aircraftButton">
                <select id="dropdown1">
                  <option value="" disabled selected>Choose your option</option>
                </select>
                <label>Make</label>
              </div>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">build</i></h2>
            <h5 class="center">Aircraft Model</h5>
            <br>
            <br>
            <div class="aircraftButton">
              <select id="dropdown2">
                <option value="" disabled selected>Choose your option</option>
              </select>
              <label>Model</label>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Aircraft Serial Number #</h5>

            <div class="aircraftSerial">
              <div class="row">
                <div class="input-field col s6">
                  <input value="" id="serialNumber" type="text" class="validate">
                  <label class="active" for="serialNumber">Serial Number</label>
                  <div class="serialButton">
                  <button href="/memberData" type="submit"  class="waves-effect waves-light btn">Submit</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>

      </form>

      <div class="row">
        <div class="someButtons">
        <button onclick="location.href = '/memberData';" id="allPlanes"  class="waves-effect waves-light btn">View Your Planes</button>
        <button onclick="location.href = '/allData';" id="allPlanes"  class="waves-effect waves-light btn">View All Planes</button>
      </div>
      </div>
      </div>

    </div>
  </div>







  <div class="container">
    <div class="section">



    </div>
  </div>


  <div id="makesList"></div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/img/FrontSideofJet.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/assets/js/init.js"></script>
  <script type="text/javascript" src="/assets/js/members.js"></script>
  <script type="text/javascript" src="/assets/js/script.js"></script>


</body>

</html>